<div class="mm-menu-food-group">
  <div class="mm-menu-item">
    <div class="mm-menu-item-top-row">
      <h4 class="mm-text-no-margin">HOMEMADE COOKIE DOUGH S'MORE CAKE</h4>
      <p class="mm-menu-price mm-text-no-margin">£4</p>
    </div>
    <p>
      Exclusively by Munch. A firm favourite among out customers.
    </p>
    <p>
      Served warm with a scoop of Vanilla Ice Cream or Lemon Sorbet.
    </p>
  </div>
  <div class="mm-menu-item">
    <div class="mm-menu-item-top-row">
      <h4 class="mm-text-no-margin">HOMEMADE CHEESECAKE</h4>
      <p class="mm-menu-price mm-text-no-margin">£4.50</p>
    </div>
    <p>
      Exclusively by Munch. A firm favourite among out customers.
    </p>
    <p>
      Served warm with a scoop of Vanilla Ice Cream or Lemon Sorbet.
    </p>
  </div>
  <div class="mm-menu-item">
    <div class="mm-menu-item-top-row">
      <h4 class="mm-text-no-margin">CHOCOLATE BROWNIES</h4>
      <p class="mm-menu-price mm-text-no-margin">£3.50</p>
    </div>
    <p>
      Rich and squidgy chocolate brownie, served warm with a scoop of Vanilla Ice Cream or Lemon Sorbet. Ask what flavours are available today.
    </p>
  </div>
  <div class="mm-menu-item">
    <div class="mm-menu-item-top-row">
      <h4 class="mm-text-no-margin">HOMEMADE APPLE CRUMBLE SLICE</h4>
      <p class="mm-menu-price mm-text-no-margin">£4</p>
    </div>
    <p>
      Our awesome, home-made apple crumble slice is excellent hot or cold, it's also gluten free, sugar free and completely vegan!
    </p>
    <p>
      Does contain nuts. Served with a scoop of Vanilla Ice Cream or Lemon Sorbet.
    </p>
  </div>
  <div class="mm-menu-item">
    <div class="mm-menu-item-top-row">
      <h4 class="mm-text-no-margin">LEMON SORBET</h4>
      <p class="mm-menu-price mm-text-no-margin">£2.50</p>
    </div>
    <p>
      Delicious Lemon Sorbet, the perfect way to end your meal.
    </p>
  </div>
  <div class="mm-menu-item">
    <div class="mm-menu-item-top-row">
      <h4 class="mm-text-no-margin">VANILLA ICE CREAM</h4>
      <p class="mm-menu-price mm-text-no-margin">£2.50</p>
    </div>
    <p>
      Vanilla Ice Cream with your choice of Chocolate or Salted Caramel Sauce.
    </p>
  </div>
  <div class="mm-menu-section-heading-container">
    <h3 class="mm-menu-section-heading">MILKSHAKES <span class="mm-menu-section-price">£3.75</span></h3>
  </div>
  <div class="mm-menu-item">
    <div class="mm-menu-item-top-row">
      <h4 class="mm-text-no-margin">KINDER BUENO</h4>
    </div>
    <p>
    </p>
  </div>
  <div class="mm-menu-item">
    <div class="mm-menu-item-top-row">
      <h4 class="mm-text-no-margin">OREO</h4>
    </div>
    <p>
    </p>
  </div>
  <div class="mm-menu-item">
    <div class="mm-menu-item-top-row">
      <h4 class="mm-text-no-margin">CHERRY BAKEWELL</h4>
    </div>
    <p>
    </p>
  </div>
  <div class="mm-menu-item">
    <div class="mm-menu-item-top-row">
      <h4 class="mm-text-no-margin">CHOCOLATE SALTED CARAMEL</h4>
    </div>
    <p>
    </p>
  </div>
  <div class="mm-menu-item">
    <div class="mm-menu-item-top-row">
      <h4 class="mm-text-no-margin">BEANUT PUTTER</h4>
    </div>
    <p>
      Peanut butter &amp; Banana
    </p>
  </div>
  <div class="mm-menu-item">
    <div class="mm-menu-item-top-row">
      <h4 class="mm-text-no-margin">MUNCHMALLOW</h4>
    </div>
    <p>
      Malteser &amp; Marshmallow
    </p>
  </div>
  <div class="mm-menu-item">
    <div class="mm-menu-item-top-row">
      <h4 class="mm-text-no-margin">UFO</h4>
    </div>
    <p>
      Flying Saucers, Refreshers &amp; Popping Candy
    </p>
  </div>
  <div class="mm-menu-item">
    <div class="mm-menu-item-top-row">
      <h4 class="mm-text-no-margin">COCOTELLA</h4>
    </div>
    <p>
      Bounty &amp; Nutella
    </p>
  </div>
  <div class="mm-menu-section-heading-container">
    <h4 class="centre">HARDSHAKES <span class="mm-menu-section-price">+ £2</span></h4>
    <p class="mm-menu-section-introduction">
      Add a shot of Disaronno, Kahlua or Buffalo Trace bourbon to your milkshake. We recommend the kahlua and bourbon only with the chocolatey ones!  
    </p>
  </div>
  <div class="mm-menu-section-heading-container">
    <h3 class="mm-menu-section-heading">MATCH UP DESSERTS</h3>
    <ul>
      <li>Our <span class="bold">homemade cheesecake</span> with a freshly made <span class="bold">cappuccino</span> or <span class="bold">latte</span> £5  </li>
      <li>Warm <span class="bold">Chocolate brownie</span> with the <span class="bold">espresso martini</span> £7.50 </li>
      <li><span class="bold">Sgroppino</span> - A small scoop of lemon sorbet at the bottom of a flute, topped up with prosecco £5.95</li>
    </ul>
  </div>
</div>
