<div class="mm-text-on-black mm-address">
  <p class="mm-address-text">
    Find us at 216 London Road, Hadleigh, SS7 2PD
  </p>
  <a href="https://www.google.co.uk/maps/place/Munch/@51.5536045,0.6088431,15z/data=!4m5!3m4!1s0x0:0xde0e9a73cfab484e!8m2!3d51.5536045!4d0.6088431" alt="Google Maps" target="_blank">
    <img class="mm-address-maps" src="../images/Google_Maps_Icon.png" alt="Google Maps Logo">
  </a>
</div>
