<div class="mm-overlay-section mm-contact">
  <div class="mm-overlay mm-overlay-right" id="book">
    <img class="mm-contact-burger-icon" src="images/mm-burger-logo-black.png" alt="Marvellous Munch Logo">
    <p class="mm-overlay-section-link">
      <a href="tel:01702870232" alt="Call Munch">
        01702 870 232
      </a>
    </p>
    <p class="mm-overlay-section-link">
      <a href="https://www.facebook.com/munchhadleigh/" alt="Facebook Munch" target="_blank">
        @munchhadleigh
      </a>
    </p>
    <p class="mm-overlay-section-link">
      <a href="https://www.facebook.com/munchhadleigh/photos/a.264107830400027.1073741827.261540290656781/1013101145500688/?type=3&theater" alt="About Our App" target="_blank">
        Download Takeaway App
      </a>
    </p>
    <p class="mm-overlay-section-link">
      <a href="mailto:info@marvellousmunch.co.uk" alt="Email Munch">
        info@marvellousmunch.co.uk
      </a>
    </p>
    <div class="mm-contact-form">
      <form action="https://web-workshop-messenger.herokuapp.com/f/db9d46" method="post">
        <input class="mm-contact-form-item" type="text" placeholder="Name" name="Name" required/>
        <br>
        <input class="mm-contact-form-item" type="text" placeholder="Email" name="Email" required/>
        <br>
        <textarea class="mm-contact-form-item mm-contact-form-item-message" placeholder="Message" name="Message"></textarea>
        <br>
        <button class="mm-contact-form-item mm-contact-form-item-send" type="Submit">Send</button>
      </form>
    </div>
  </div>
</div>
