<div class="mm-contact-success-failure contact-success" id="thank-you">
  <div class="mm-contact-success-failure-message-container">
    <p class="mm-contact-success-failure-text">Thank you very much for getting in touch. A member of our team get back to you shortly.</p>
    <a href="#" alt="Close Message Box">
      <img class="mm-contact-success-failure-close-cross" src="../images/close.svg" alt="Close Cross">
    </a>
  </div>
</div>
<div class="mm-contact-success-failure contact-failure" id="oops">
  <div class="mm-contact-success-failure-message-container">
    <p class="mm-contact-success-failure-text">
      Oops. Something went wrong with your contact form. Try again or use
      <a class="mm-contact-failure-links" href="tel:01702870232" alt="Call Munch">phone</a>,
      <a class="mm-contact-failure-links" href="https://www.facebook.com/munchhadleigh/" alt="Facebook Munch" target="_blank">Facebook</a> or
      <a class="mm-contact-failure-links" href="mailto:info@marvellousmunch.co.uk" alt="Email Munch">email</a>
      to get in touch.
    </p>
    <a href="#" alt="Close Message Box">
      <img class="mm-contact-success-failure-close-cross" src="../images/close.svg" alt="Close Cross">
    </a>
  </div>
</div>
