<div class="mm-overlay-section mm-eat-in">
  <div class="mm-overlay mm-overlay-right">
    <p class="mm-overlay-body-text">
      We made our name by delivering superb burgers to customers around Hadleigh. Now we’d like to invite you to take the next step. Join us for a meal at our hidden restaurant. You won’t be disappointed!
    </p>
    <p class="mm-overlay-section-link">
      <a href="#book" alt="Booking Section">
        BOOK NOW
      </a>
    </p>
  </div>
</div>
