<div class="mm-footer">
  <div class="mm-footer-top-left">
    <a href="http://www.joeandcharlotte.co.uk" title="Joe and Charlotte" target="_blank">
      <p class="small mm-footer-text">
        Photography by Joe and Charlotte&emsp;
        <img class="mm-credits-icon" src="images/joe-and-charlotte-creative-studio.svg" alt="Joe and Charlotte Logo">
      </p>
    </a>
  </div>
  <div class="mm-footer-middle">
    <p class="small mm-footer-text">
      &copy;&emsp;<img class="mm-footer-burger-icon" src="images/mm-burger-logo-white.png" alt="Marvellous Munch Logo">&emsp;<%= Time.now.strftime("%Y") %>
    </p>
  </div>
  <div class="mm-footer-bottom-right">
    <a href="https://leigh.webworkshop.ltd" title="Leigh Web Workshop" target="_blank">
      <p class="small mm-footer-text">
        Website Design &amp; Hosting by Leigh Web Workshop&emsp;
        <img class="mm-credits-icon" src="images/ww-logo.svg" alt="Web Workshop Logo">
      </p>
    </a>
  </div>
</div>
