<head>
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <meta name="viewport"
        content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta name="description" content="We're known for offering superb artisanal burgers for takeaway and delivery. However, Marvellous Munch's hidden restaurant is Hadleigh's best kept food secret!">
  <title>Marvellous Munch, Hadleigh - Burgers ~ Mexican ~ Craft Beer</title>
  <%= stylesheet_link_tag "site" %>
  <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet">
  <%= favicon_tag 'images/mm-favicon.png' %>
  <meta name="google-site-verification" content="jtmVKEnFRDeAnkNs-ltbHay6yYFa2mpBlAv1ClyGkpo" />
  <meta property="og:url" content="https://marvellousmunch.co.uk" />
  <meta property="og:type" content="website" />
  <meta property="og:title" content="Marvellous Munch" />
  <meta property="og:description" content="We're known for offering superb artisanal burgers for takeaway and delivery. However, Marvellous Munch's hidden restaurant is Hadleigh's best kept food secret!" />
  <meta property="og:image" content="https://marvellousmunch.co.uk/images/mm-hero-background.jpg" />
</head>
