<div class="mm-hero">
  <%= partial "partials/sticky-menu" %>
  <img class="mm-hero-munch-logo" src="../images/mm-munch-logo-large.png" alt="Marvellous Munch logo">
  <div class="mm-hero-social-icon-container">
    <a href="https://www.instagram.com/marvellousmunch/" alt="Marvellous Munch - Instagram" target="_blank">
      <img class="mm-hero-social-icon" src="../images/instagram.svg" alt="Instagram Logo">
    </a>
    <a href="https://www.tripadvisor.co.uk/Restaurant_Review-g1138966-d7110805-Reviews-Munch-Benfleet_Essex_England.html" alt="Marvellous Munch - Tripadvisor" target="_blank">
      <img class="mm-hero-social-icon" src="../images/tripadvisor.svg" alt="Tripadvisor Logo">
    </a>
    <a href="https://www.facebook.com/munchhadleigh/" alt="Marvellous Munch - Facebook" target="_blank">
      <img class="mm-hero-social-icon" src="../images/facebook.svg" alt="Facebook Logo">
    </a>
  </div>
</div>
