<div class="mm-overlay-section mm-hours">
  <div class="mm-overlay mm-overlay-right">
    <h2 class="mm-hours-days">
      MONDAY
    </h2>
    <p class="mm-hours-hours">
      5 - 10
    </p>
    <h2 class="mm-hours-days">
      TUESDAY
    </h2>
    <p class="mm-hours-hours mm-hours-closed">
      CLOSED
    </p>
    <h2 class="mm-hours-days">
      WEDNESDAY
    </h2>
    <p class="mm-hours-hours">
      5 - 10
    </p>
    <h2 class="mm-hours-days">
      THURSDAY
    </h2>
    <p class="mm-hours-hours">
      5 - 10
    </p>
    <h2 class="mm-hours-days">
      FRIDAY
    </h2>
    <p class="mm-hours-hours">
      11 - 3 &amp; 5 - 11
    </p>
    <h2 class="mm-hours-days">
      SATURDAY
    </h2>
    <p class="mm-hours-hours">
      11 - 11
    </p>
    <h2 class="mm-hours-days">
      SUNDAY
    </h2>
    <p class="mm-hours-hours">
      5 - 9
    </p>
  </div>
</div>
