<div class="mm-overlay-section mm-offerings">
  <div class="mm-overlay mm-overlay-left">
    <a href="#mains" alt="Burger Menu">
      <h1>BURGERS</h1>
    </a>
    <img class="mm-h1-separator" src="../images/mm-h1-separator.svg" alt="Separator">
    <a href="#mains" alt="Mexican Menu">
      <h1>MEXICAN</h1>
    </a>
    <img class="mm-h1-separator" src="../images/mm-h1-separator.svg" alt="Separator">
    <a href="#drinks" alt="Beer Menu">
      <h1>CRAFT BEER</h1>
    </a>
    <img class="mm-h1-separator" src="../images/mm-h1-separator.svg" alt="Separator">
    <a href="#drinks" alt="Cocktail Menu">
      <h1>COCKTAILS</h1>
    </a>
  </div>
</div>
