<div class="mm-overlay-section mm-social">
  <div class="mm-overlay mm-overlay-left">
    <p class="mm-overlay-body-text">
      Want to earn some Marvellous Munch loyalty points*? Share the love, using the buttons below:
    </p>
    <div class="fb-like" data-href="https://www.facebook.com/munchhadleigh/" data-layout="button_count" data-action="like" data-size="large" data-show-faces="true" data-share="false"></div>
    <p class="small mm-social-points">
      Facebook Like:
      <span class="mm-social-points-number">20 points</span>
    </p>
    <div class="fb-share-button" data-href="https://marvellousmunch.co.uk" data-layout="button" data-size="large" data-mobile-iframe="true"><a class="fb-xfbml-parse-ignore" target="_blank" href="https://www.facebook.com/sharer/sharer.php?u=https%3A%2F%2Fmarvellousmunch.co.uk%2F&amp;src=sdkpreparse">Share</a></div>
    <p class="small mm-social-points">
      Facebook Share:
      <span class="mm-social-points-number">14 points</span>
    </p>
    <a href="https://www.tripadvisor.co.uk/Restaurant_Review-g1138966-d7110805-Reviews-Munch-Benfleet_Essex_England.html" alt="Marvellous Munch - Tripadvisor" target="_blank">
      <div class="mm-social-button">
        <img class="mm-social-button-icon" src="../images/tripadvisor.svg" alt="Tripadvisor Button">
      </div>
    </a>
    <p class="small mm-social-points">
      Tripadvisor Review:
      <span class="mm-social-points-number">17 points</span>
    </p>
    <a href="https://www.instagram.com/marvellousmunch/" alt="Marvellous Munch - Instagram" target="_blank">
      <div class="mm-social-button">
        <img class="mm-social-button-icon" src="../images/instagram.svg" alt="Instagram Button">
      </div>
    </a>
    <p class="small mm-social-points">
      Instagram Follow:
      <span class="mm-social-points-number">18 points</span>
    </p>
    <p class="small mm-social-small-print">
      *Marvellous Munch loyalty points are worthless and cannot be redeemed for delicious food or drink.
    </p>
  </div>
</div>
