<div class="mm-sticky-menu">
  <a href="#menu" alt="Food and Drink Menu">
    <div class="mm-sticky-menu-left">
      <img class="mm-sticky-menu-icon" src="../images/mm-menu-icon.svg" alt="Menu Icon">
      <h3 class="white">
        FOOD &amp; DRINK
      </h3>
    </div>
  </a>
  <a href="tel:01702870232" alt="Call Munch">
    <div class="mm-sticky-menu-right">
      <h3 class="white">
        ORDER / BOOK
      </h3>
      <img class="mm-sticky-phone-icon" src="../images/mm-phone-icon.svg" alt="Phone Icon">
    </div>
  </a>
</div>
