<div class="mm-overlay-section mm-testimonials">
  <div class="mm-overlay mm-overlay-left mm-overlay-left-testimonials mm-overlay-testimonials">
    <div class="mm-testimonials-text">
      <p class="mm-testimonial-quotation">
        "The Burgers at Munch are amazing!"
      </p>
      <p class="mm-testimonial-source">
        <span class="mm-testimonial-author">Debbie</span>, TripAdvisor
      </p>
      <p class="mm-testimonial-quotation">
        "Finally got to try Munch and not disappointed! Great Vegan menu"
      </p>
      <p class="mm-testimonial-source">
        <span class="mm-testimonial-author">Andrew</span>, Facebook
      </p>
      <p class="mm-testimonial-quotation">
        "OMG so good I want it all again right now."
      </p>
      <p class="mm-testimonial-source">
        <span class="mm-testimonial-author">Ella</span>, TripAdvisor
      </p>
      <p class="mm-testimonial-quotation">
        "Wow how have we missed this gem!"
      </p>
      <p class="mm-testimonial-source">
        <span class="mm-testimonial-author">John</span>, Facebook
      </p>
    </div>
    <div class="mm-testimonials-link">
      <p class="mm-overlay-section-link">
        <a href="https://www.tripadvisor.co.uk/Restaurant_Review-g1138966-d7110805-Reviews-Munch-Benfleet_Essex_England.html" alt="See More Munch Review" target="_blank">
          MORE REVIEWS
        </a>
      </p>
    </div>
  </div>
</div>
