<div class="mm-overlay-section mm-vegan">
  <div class="mm-overlay mm-overlay-left">
    <p class="mm-overlay-body-text">
      Here at Marvellous Munch, we pride ourselves on offering truly fantastic vegan options. We have an entire vegan menu. Vegans aren’t used to having this much choice, so you’d better start deciding what you’re going to have right now - it might take you a while.
    </p>
    <p class="mm-overlay-section-link">
      <a href="#vegan">
        VEGAN MENU
      </a>
    </p>
  </div>
</div>
