<div class="mm-menu-food-group" id="burgers">
  <div class="mm-menu-section-heading-container">
    <h3 class="mm-menu-section-heading">BURGERS</h3>
    <p class="mm-menu-section-introduction">
      Choose from our selection:</p>
    <p class="mm-menu-section-introduction">
      <span class="bold">BEEF</span> - We use local-sourced, handmade 5oz 100% tender beef patties. for you to enjoy the best flavour &amp; quality.
    </p>
    <p class="mm-menu-section-introduction">
      <span class="bold">CHICKEN</span> - Plump &amp; tender grilled chicken breast, first marinated in our special blend, to bring out the best flavour.
    </p>
    <p class="mm-menu-section-introduction">
      <span class="bold">VEGGIE</span> - We’ve carefully selected a specialist vegan pattie that’s pressed in house, made using Veggie’s&trade; own blend. we love it &amp; we’re sure you will too.   Items with an asterisk(*) are not included in veggie burgers.
    </p>
  </div>
  <div class="mm-menu-item">
    <div class="mm-menu-item-top-row">
      <h4 class="mm-text-no-margin">BURGER OF THE MONTH</h4>
      <p class="mm-menu-price mm-text-no-margin">£9.50</p>
    </div>
    <p>
      Check out our Facebook page to see our latest Burger of the Month!
    </p>
  </div>
  <div class="mm-menu-item">
    <div class="mm-menu-item-top-row">
      <h4 class="mm-text-no-margin">HOUSE BURGER</h4>
      <p class="mm-menu-price mm-text-no-margin">£8.50</p>
    </div>
    <p>
      The signature burger. Tender Bacon*, Cheddar Cheese, Crisp Lettuce, Juicy Tomato, &amp; our unique Munch Sauce.
    </p>
  </div>
  <div class="mm-menu-item">
    <div class="mm-menu-item-top-row">
      <h4 class="mm-text-no-margin">THE MANDALA BURGER</h4>
      <p class="mm-menu-price mm-text-no-margin">£7.50</p>
    </div>
    <p>
      Sweet mango chutney, hand battered onion bhaji ring, juicy tomato and curried Mayo
    </p>
  </div>
  <div class="mm-menu-item">
    <div class="mm-menu-item-top-row">
      <h4 class="mm-text-no-margin">THE TEMPLE BURGER</h4>
      <p class="mm-menu-price mm-text-no-margin">£7.50</p>
    </div>
    <p>
      Homemade satay sauce, green peppers and crispy onions
    </p>
  </div>
  <div class="mm-menu-item">
    <div class="mm-menu-item-top-row">
      <h4 class="mm-text-no-margin">THE GUVNOR BURGER</h4>
      <p class="mm-menu-price mm-text-no-margin">£8.50</p>
    </div>
    <p>
      Tender bacon, juicy tomato, flat mushroom, fried egg crisp hash browns and HP sauce
    </p>
  </div>
  <div class="mm-menu-item">
    <div class="mm-menu-item-top-row">
      <h4 class="mm-text-no-margin">THE CLASSIC</h4>
      <p class="mm-menu-price mm-text-no-margin">£6.50</p>
    </div>
    <p>
      A classic burger with Sweet Red Onion, Juicy Tomato &amp; House Mayo.
    </p>
    <ul>
      <li>Add Cheddar: 50p</li>
      <li>Add Tender Bacon: £1</li>
    </ul>
  </div>
  <div class="mm-menu-item">
    <div class="mm-menu-item-top-row">
      <h4 class="mm-text-no-margin">CUPID</h4>
      <p class="mm-menu-price mm-text-no-margin">£7.50</p>
    </div>
    <p>
      Succulant Dry Cured Chorizo*, Crunchy Onions &amp; Halloumi Cheese, topped off with Sticky BBQ Sauce.
    </p>
  </div>
  <div class="mm-menu-item">
    <div class="mm-menu-item-top-row">
      <h4 class="mm-text-no-margin">EMPIRE</h4>
      <p class="mm-menu-price mm-text-no-margin">£8.50</p>
    </div>
    <p>
      An all-time reliable mix of Tender Bacon*, Hand-Battered Onion Rings, Monterey Jack Cheese, Juicy Tomato, Sweet Red Onion &amp; Sticky BBQ Sauce.
    </p>
  </div>
  <div class="mm-menu-item">
    <div class="mm-menu-item-top-row">
      <h4 class="mm-text-no-margin">THE AMERICAN</h4>
      <p class="mm-menu-price mm-text-no-margin">£8.50</p>
    </div>
    <p>
      The American dream burger. With Streaky Bacon*, American Cheese, Fresh Gherkins, Juicy Tomato, Crisp Lettuce, &amp; Homemade Burger Sauce.
    </p>
  </div>
  <div class="mm-menu-item">
    <div class="mm-menu-item-top-row">
      <h4 class="mm-text-no-margin">THE MEXICAN</h4>
      <p class="mm-menu-price mm-text-no-margin">£8.50</p>
    </div>
    <p>
      A Mexican mix of house-made Guacamole, Pink Onions, Crisp Lettuce, &amp; Coriander.
    </p>
  </div>
  <div class="mm-menu-item">
    <div class="mm-menu-item-top-row">
      <h4 class="mm-text-no-margin">THE CANADIAN</h4>
      <p class="mm-menu-price mm-text-no-margin">£8.50</p>
    </div>
    <p>
      Sweet Maple Syrup with Streaky Bacon*, Cheddar, Hand-Battered Onion Rings, Juicy Tomato, Crisp Lettuce and House Mayo.
    </p>
    <p>
      We recommend - So good with chicken and washed down with the Applejack. The flavours compliment each other perfectly.
    </p>
  </div>
  <div class="mm-menu-section-heading-container">
    <p class="mm-menu-section-introduction">
      Add one side of skin on fries, sweet potato fries or onion rings for just £2.50 to your burger.
    </p>
    <h3 class="mm-menu-section-heading">BUILD YOUR OWN BURGER</h3>
    <p class="mm-menu-section-introduction">
      Every Build Your Own Burger starts plain with your choice of Pattie, the first Salad, &amp; one Sauce is included free of charge. Served in a soft, local baker's bun.
    </p>
    <p class="mm-menu-section-introduction">
      We cook our Beef burgers pink in the middle  – if you would like it well done, please let us know when ordering.
    </p>
    <h4 class="centre">PATTIES</h4>
    <ul>
      <li><span class="bold">BEEF</span> £6.50</li>
      <li><span class="bold">CHICKEN</span> £6.50</li>
      <li><span class="bold">VEGGIE</span> £6.50</li>
    </ul>
    <h4 class="centre">DELICACIES</h4>
    <ul>
      <li>BBQ Pulled Pork £3</li>
      <li>Guacamole £1</li>
      <li>Pico de Gallo £1</li>
      <li>Dry Cured Chorizo £1</li>
      <li>Onion Rings £1.50</li>
      <li>Streaky Bacon £1</li>
    </ul>
    <h4 class="centre">CHEESE</h4>
    <ul>
      <li>Mature Cheddar 50p</li>
      <li>Monterey Jack 50p</li>
      <li>American 50p</li>
      <li>Creamy Goat’s 80p</li>
      <li>Halloumi £1</li>
      <li>Creamy Stilton 80p</li>
    </ul>
    <h4 class="centre">SALAD</h4>
    <ul>
      <li>Red Onion 30p</li>
      <li>Juicy Tomato 50p</li>
      <li>Crisp Lettuce 30p</li>
      <li>Fresh Gherkins 50p</li>
      <li>Peppers 50p</li>
    </ul>
    <h4 class="centre">SAUCE</h4>
    <ul>
      <li>Sticky BBQ 50p</li>
      <li>Tomato Ketchup 50p</li>
      <li>Munch 80p</li>
      <li>Homemade Burger Sauce 80p</li>
      <li>House Mayo 50p</li>
      <li>Chipotle Mayo 80p</li>
      <li>Sweet Chilli 50p</li>
    </ul>
    <p class="mm-menu-section-introduction">
      Add one side of skin on fries, sweet potato fries or onion rings for just £2.50 to your burger
    </p>
  </div>
</div>
