<div class="mm-menu-food-group">
  <div class="mm-menu-section-heading-container">
    <h3 class="mm-menu-section-heading">KIDS <span class="mm-menu-section-price">£5</span></h3>
    <p class="mm-menu-section-introduction">
      A full meal for your mini munchers, for just £5. Choose one from each list:  
    </p>
    <ul>
      <li><span class="bold">FISH FINGERS</span></li>
      <li><span class="bold">CHICKEN STRIPS</span></li>
      <li><span class="bold">CHICKEN TACO</span></li>
      <li><span class="bold">CHICKEN TOSTADA</span></li>
      <li><span class="bold">VEGAN SAUSAGES</span></li>
    </ul>
    <ul>
      <li><span class="bold">FRIES</span></li>
      <li><span class="bold">SWEET POTATO FRIES</span></li>
    </ul>
    <ul>
      <li><span class="bold">CORN ON THE COB</span></li>
      <li><span class="bold">MINI ENSALADA</span> - Peppers, Tomato, &amp; Cucumber.</li>
    </ul>
  </div>
</div>
