<div class="mm-menu-food-group" id="nachos-and-salads">
  <div class="mm-menu-section-heading-container">
    <h3 class="mm-menu-section-heading">NACHOS &amp; ENSALADAS</h3>
  </div>
  <div class="mm-menu-item">
    <div class="mm-menu-item-top-row">
      <h4 class="mm-text-no-margin">NACHOS</h4>
      <p class="mm-menu-price mm-text-no-margin">£5</p>
    </div>
    <p>
      House prepared tortilla chips, loaded with guacamole, pico de gallo &amp; crema
    </p>
    <ul>
      <li>Add carnitas £3</li>
      <li>Add filete £3.50</li>
      <li>Add pollo £3</li>
      <li>Add frijoles £2  </li>
    </ul>
  </div>
  <div class="mm-menu-item">
    <div class="mm-menu-item-top-row">
      <h4 class="mm-text-no-margin">CHIPOTLE MUSHROOM ENSALADA</h4>
      <p class="mm-menu-price mm-text-no-margin">£8.00</p>
    </div>
    <p>
      Chipotle mushrooms, Mexican rice, shredded lettuce, cucumber, tomato, pumpkin seeds, and avocado in a homemade spicy tomato dressing
    </p>
  </div>
  <div class="mm-menu-item">
    <div class="mm-menu-item-top-row">
      <h4 class="mm-text-no-margin">SUPER ENSALADA</h4>
      <p class="mm-menu-price mm-text-no-margin">£8.50</p>
    </div>
    <p>
      Shredded lettuce, tomato, cucumber, red onion, pumpkin seeds, edamame beans, pomegranate and quinoa
    </p>
  </div>
  <div class="mm-menu-item">
    <div class="mm-menu-item-top-row">
      <h4 class="mm-text-no-margin">MEX ENSALADA</h4>
      <p class="mm-menu-price mm-text-no-margin">£6</p>
    </div>
    <p>
      Shredded Lettuce with frijoles, cucumber, pico de gallo, avocado, queso and tortilla strips tossed in our homemade spiced citrus dressing
    </p>
    <ul>
      <li>Add Guac £2</li>
      <li>Add carnitas £3</li>
      <li>Add filete £3.50</li>
      <li>Add pollo £3</li>
    </ul>
    <p>
      We recommend: This salad is awesome with our Tekena Sauvignon Blanc
    </p>
  </div>
  <div class="mm-menu-item">
    <div class="mm-menu-item-top-row">
      <h4 class="mm-text-no-margin">MUNCH ENSALADA</h4>
      <p class="mm-menu-price mm-text-no-margin">£5.50</p>
    </div>
    <p>
      Shredded lettuce, pico de gallo, cucumber, red onion, mixed peppers tossed in olive oil &amp; lemon.
    </p>
    <ul>
      <li>Add Guac £2</li>
      <li>Add carnitas £3</li>
      <li>Add filete £3.50</li>
      <li>Add pollo £3</li>
      <li>Add frijoles £2</li>
    </ul>
  </div>
  <div class="mm-menu-section-heading-container">
    <p class="mm-menu-section-introduction">
      Ensalada: Salad • Pollo: Chicken • Filete: Steak • Carnitas: Pork • Pico de Gallo: Salsa • Frijoles: Beans • Crema: Sour Cream • Arroz: Flavoured Rice • Queso: Cheese • Cebollas Rosadas: Pink Onions
    </p>
  </div>
</div>
