<div class="mm-menu-food-group" id="sides">
  <div class="mm-menu-section-heading-container">
    <h3 class="mm-menu-section-heading">SIDES</h3>
  </div>
  <div class="mm-menu-item">
    <div class="mm-menu-item-top-row">
      <h4 class="mm-text-no-margin">PICO DE GALLO</h4>
      <p class="mm-menu-price mm-text-no-margin">£2</p>
    </div>
    <p>
      Authentic, chunky Tomato Salsa. House-prepared daily.
    </p>
  </div>
  <div class="mm-menu-item">
    <div class="mm-menu-item-top-row">
      <h4 class="mm-text-no-margin">GUACAMOLE</h4>
      <p class="mm-menu-price mm-text-no-margin">£2</p>
    </div>
    <p>
      Authentic creamy Guacamole. House-prepared daily.
    </p>
  </div>
  <div class="mm-menu-item">
    <div class="mm-menu-item-top-row">
      <h4 class="mm-text-no-margin">TORTILLA CHIPS</h4>
      <p class="mm-menu-price mm-text-no-margin">£2.50</p>
    </div>
    <p>
      A bowl of our house-prepared tortilla chips.
    </p>
  </div>
  <div class="mm-menu-item">
    <div class="mm-menu-item-top-row">
      <h4 class="mm-text-no-margin">ARROZ WITH FRIJOLES</h4>
      <p class="mm-menu-price mm-text-no-margin">£3.50</p>
    </div>
    <p>
      Flavoured Rice, topped with house Beans.
    </p>
  </div>
  <div class="mm-menu-item">
    <div class="mm-menu-item-top-row">
      <h4 class="mm-text-no-margin">SIDE SALAD</h4>
      <p class="mm-menu-price mm-text-no-margin">£3</p>
    </div>
    <p>
      A delicious, crispy salad, tossed in Olive Oil and Lemon.
    </p>
  </div>
  <div class="mm-menu-item">
    <div class="mm-menu-item-top-row">
      <h4 class="mm-text-no-margin">SLICED AVOCADO</h4>
      <p class="mm-menu-price mm-text-no-margin">£2</p>
    </div>
    <p>
      Seasoned with a little Sea Salt &amp; Smoked Paprika.
    </p>
  </div>
  <div class="mm-menu-item">
    <div class="mm-menu-item-top-row">
      <h4 class="mm-text-no-margin">SKIN ON FRIES</h4>
      <p class="mm-menu-price mm-text-no-margin">£3</p>
    </div>
    <p>
      Hand-cut fries, seasoned with Rosemary Salt. With your choice of dip.
    </p>
  </div>
  <div class="mm-menu-item">
    <div class="mm-menu-item-top-row">
      <h4 class="mm-text-no-margin">SWEET POTATO FRIES</h4>
      <p class="mm-menu-price mm-text-no-margin">£3.50</p>
    </div>
    <p>
      Chunky fries, cut by hand, seasoned with Rosemary Salt. With your choice of dip.
    </p>
  </div>
  <div class="mm-menu-item">
    <div class="mm-menu-item-top-row">
      <h4 class="mm-text-no-margin">HAND-BATTERED ONION RINGS</h4>
      <p class="mm-menu-price mm-text-no-margin">£3.50</p>
    </div>
    <p>
      Hand-cut onions, in our house batter. With your choice of dip.
    </p>
  </div>
  <div class="mm-menu-item">
    <div class="mm-menu-item-top-row">
      <h4 class="mm-text-no-margin">CHICKEN WINGS</h4>
      <p class="mm-menu-price mm-text-no-margin">£4.50</p>
    </div>
    <p>
      Smothered in BBQ Sauce. 
    </p>
  </div>
  <div class="mm-menu-item">
    <div class="mm-menu-item-top-row">
      <h4 class="mm-text-no-margin"> CAJUN BREADED MUSHROOMS</h4>
      <p class="mm-menu-price mm-text-no-margin">£3.50</p>
    </div>
    <p>
      With your choice of dip.
    </p>
  </div>
  <div class="mm-menu-item">
    <div class="mm-menu-item-top-row">
      <h4 class="mm-text-no-margin"> JALAPEÑO CREAM CHEESE POPPERS</h4>
      <p class="mm-menu-price mm-text-no-margin">£3.50</p>
    </div>
    <p>
      With your choice of dip.
    </p>
  </div>
  <div class="mm-menu-item">
    <div class="mm-menu-item-top-row">
      <h4 class="mm-text-no-margin"> MAC N CHEESE BITES</h4>
      <p class="mm-menu-price mm-text-no-margin">£3.50</p>
    </div>
    <p>
      With your choice of dip.
    </p>
  </div>
</div>
