<div class="mm-menu-food-group">
  <div class="mm-menu-item">
    <div class="mm-menu-item-top-row">
      <h4 class="mm-text-no-margin">NACHOS</h4>
    </div>
    <p>
      House-prepared Tortilla chips, with melted Jack Cheese, Guacamole, Pico de Gallo, &amp; topped with Crema.
    </p>
    <ul>
      <li>For one: £2.95</li>
      <li>To share: £5</li>
    </ul>
  </div>
  <div class="mm-menu-item">
    <div class="mm-menu-item-top-row">
      <h4 class="mm-text-no-margin">TACOS</h4>
      <p class="mm-menu-price mm-text-no-margin">£3.95</p>
    </div>
    <p>
      2 Soft Corn Tacos, pressed in-house, topped with Cebollas Rosadas &amp; Coriander. served with Pico de Gallo.
    </p>
  </div>
  <div class="mm-menu-item">
    <div class="mm-menu-item-top-row">
      <h4 class="mm-text-no-margin">TOSTADA</h4>
      <p class="mm-menu-price mm-text-no-margin">£3.95</p>
    </div>
    <p>
      1 Corn Tortilla – fried until crispy &amp; golden, loaded with Frijoles, Queso &amp; Cebollas Rosadas. Served with Pico de Gallo.
    </p>
    <ul>
      <li>Choose from: Pollo, Carnitas, Filete, Arroz &amp; Frijoles, or Guacamole &amp; Pico de Gallo.</li>
    </ul>
  </div>
  <div class="mm-menu-item">
    <div class="mm-menu-item-top-row">
      <h4 class="mm-text-no-margin">CHICKEN CRUNCHIES</h4>
      <p class="mm-menu-price mm-text-no-margin">£3.50</p>
    </div>
    <p>
      With your choice of dip
    </p>
  </div>
  <div class="mm-menu-item">
    <div class="mm-menu-item-top-row">
      <h4 class="mm-text-no-margin">MAC N CHEESE BITES</h4>
      <p class="mm-menu-price mm-text-no-margin">£3.50</p>
    </div>
    <p>
      With your choice of dip
    </p>
  </div>
  <div class="mm-menu-item">
    <div class="mm-menu-item-top-row">
      <h4 class="mm-text-no-margin">CAJUN BREADED MUSHROOMS</h4>
      <p class="mm-menu-price mm-text-no-margin">£3.50</p>
    </div>
    <p>
      With your choice of dip
    </p>
  </div>
  <div class="mm-menu-item">
    <div class="mm-menu-item-top-row">
      <h4 class="mm-text-no-margin"> JALAPEÑO CREAM CHEESE POPPERS</h4>
      <p class="mm-menu-price mm-text-no-margin">£3.50</p>
    </div>
    <p>
      With your choice of dip
    </p>
  </div>
  <div class="mm-menu-section-heading-container">
    <p class="mm-menu-section-introduction">
      Pollo: Chicken, Carnitas: Pork, Filete: Steak, Arroz: Rice, Frijoles: Beans, Cebollas Rosadas: Pink Onions, Queso: Cheese, Pico de Gallo: Chunky Tomato Salsa
    </p>
  </div>
</div>
