<div class="mm-menu-food-group" id="tacos-tostadas-burritos">
  <div class="mm-menu-section-heading-container">
    <h3 class="mm-menu-section-heading">TACOS</h3>
    <p class="mm-menu-section-introduction">
      4 Soft Blue corn tacos, pressed in-house, topped with cebollas rosadas &amp; coriander. Served with pico de gallo.  
    </p>
  </div>
  <div class="mm-menu-item">
    <div class="mm-menu-item-top-row">
      <h4 class="mm-text-no-margin">POLLO</h4>
      <p class="mm-menu-price mm-text-no-margin">£9.50</p>
    </div>
    <p>
      Marinated &amp; shredded Chicken, with shredded Lettuce.
    </p>
  </div>
  <div class="mm-menu-item">
    <div class="mm-menu-item-top-row">
      <h4 class="mm-text-no-margin">CARNITAS</h4>
      <p class="mm-menu-price mm-text-no-margin">£9.50</p>
    </div>
    <p>
      Slow-cooked Mexican-style Pulled Pork.
    </p>
    <p>
      We recommend: Absolutely perfect with the pineapple and grapefruit margarita… thank us later!
    </p>
  </div>
  <div class="mm-menu-item">
    <div class="mm-menu-item-top-row">
      <h4 class="mm-text-no-margin">FILETE</h4>
      <p class="mm-menu-price mm-text-no-margin">£10.50</p>
    </div>
    <p>
      Marinated &amp; Sautéed Steak.
    </p>
  </div>
  <div class="mm-menu-item">
    <div class="mm-menu-item-top-row">
      <h4 class="mm-text-no-margin">ARROZ &amp; FRIJOLES</h4>
      <p class="mm-menu-price mm-text-no-margin">£8.50</p>
    </div>
    <p>
      Mexican Rice, topped with house Beans.
    </p>
  </div>
  <div class="mm-menu-item">
    <div class="mm-menu-item-top-row">
      <h4 class="mm-text-no-margin">VEGITARIANO</h4>
      <p class="mm-menu-price mm-text-no-margin">£8.50</p>
    </div>
    <p>
      House-made Guacamole &amp; Pico de Gallo.
    </p>
  </div>
  <div class="mm-menu-section-heading-container">
    <h3 class="mm-menu-section-heading">TOSTADAS</h3>
    <p class="mm-menu-section-introduction">
      2 Yellow corn tortillas – fried until crispy &amp; golden, loaded with frijoles, queso &amp; cebollas rosadas. Served with pico de gallo.  
    </p>
  </div>
  <div class="mm-menu-item">
    <div class="mm-menu-item-top-row">
      <h4 class="mm-text-no-margin">POLLO</h4>
      <p class="mm-menu-price mm-text-no-margin">£9.50</p>
    </div>
    <p>
      Marinated &amp; shredded Chicken.
    </p>
  </div>
  <div class="mm-menu-item">
    <div class="mm-menu-item-top-row">
      <h4 class="mm-text-no-margin">CARNITAS</h4>
      <p class="mm-menu-price mm-text-no-margin">£9.50</p>
    </div>
    <p>
      Slow-cooked Mexican-style Pulled Pork.
    </p>
  </div>
  <div class="mm-menu-item">
    <div class="mm-menu-item-top-row">
      <h4 class="mm-text-no-margin">FILETE</h4>
      <p class="mm-menu-price mm-text-no-margin">£10.50</p>
    </div>
    <p>
      Marinated &amp; sautéed Steak.
    </p>
  </div>
  <div class="mm-menu-item">
    <div class="mm-menu-item-top-row">
      <h4 class="mm-text-no-margin">ARROZ &amp; FRIJOLES</h4>
      <p class="mm-menu-price mm-text-no-margin">£8.50</p>
    </div>
    <p>
      Mexican Rice, topped with house Beans.
    </p>
  </div>
  <div class="mm-menu-item">
    <div class="mm-menu-item-top-row">
      <h4 class="mm-text-no-margin">VEGETARIANO</h4>
      <p class="mm-menu-price mm-text-no-margin">£8.50</p>
    </div>
    <p>
      House-made Guacamole.  
    </p>
  </div>
  <div class="mm-menu-section-heading-container">
    <h3 class="mm-menu-section-heading">BURRITOS</h3>
    <p class="mm-menu-section-introduction">
      A large flour tortilla. Packed with frijoles, arroz, pico de gallo, &amp; crema. Served with tortilla chips, pico de gallo, &amp; guacamole.
    </p>
  </div>
  <div class="mm-menu-item">
    <div class="mm-menu-item-top-row">
      <h4 class="mm-text-no-margin">CARNITAS</h4>
      <p class="mm-menu-price mm-text-no-margin">£8.50</p>
    </div>
  </div>
  <div class="mm-menu-item">
    <div class="mm-menu-item-top-row">
      <h4 class="mm-text-no-margin">FILETE</h4>
      <p class="mm-menu-price mm-text-no-margin">£9.50</p>
    </div>
  </div>
  <div class="mm-menu-item">
    <div class="mm-menu-item-top-row">
      <h4 class="mm-text-no-margin">POLLO</h4>
      <p class="mm-menu-price mm-text-no-margin">£8.50</p>
    </div>
  </div>
  <div class="mm-menu-item">
    <div class="mm-menu-item-top-row">
      <h4 class="mm-text-no-margin">GUACAMOLE</h4>
      <p class="mm-menu-price mm-text-no-margin">£8.50</p>
    </div>
  </div>
  <div class="mm-menu-section-heading-container">
    <h4 class="centre">CHIMICHANGAS</h4>
    <p class="mm-menu-section-introduction">
      Any Burrito, with added queso &amp; fried until golden. Served with tortilla chips, pico de gallo, &amp;  guacamole. + £1 
    </p>
    <p class="mm-menu-section-introduction">
      Pollo: Chicken • Filete: Steak • Carnitas: Pork • Pico de Gallo: Salsa • Frijoles: Beans • Crema: Sour Cream • Arroz: Flavoured Rice • Queso: Cheese • Cebollas Rosadas: Pink Onions
    </p>
    <p class="mm-menu-section-introduction">
      The Mexican way to eat is very social and laid back, forget the cutlery and get stuck in with your hands. We absolutely recommend you try with a bottle of salitos tequila beer or a margarita to compliment your food
    </p>
  </div>
</div>
