<div class="mm-menu-food-group" id="cocktails">
  <div class="mm-menu-section-heading-container">
    <h3 class="mm-menu-section-heading">HAND CRAFTED COCKTAILS <span class="mm-menu-section-price">£6.50</span></h3>
    <h4 class="centre">SIGNATURES</h4>
  </div>
  <div class="mm-menu-item">
    <div class="mm-menu-item-top-row">
      <h4 class="mm-text-no-margin">APPLEJACK</h4>
    </div>
    <p>
       Bourbon, Pressed Apple Juice &amp; Maple Syrup
    </p>
  </div>
  <div class="mm-menu-item">
    <div class="mm-menu-item-top-row">
      <h4 class="mm-text-no-margin">PINEAPPLE &amp; GRAPEFRUIT MARGARITA </h4>
    </div>
    <p>
      Tequila, Grapefruit Liqueur &amp; Pineapple Juice
    </p>
  </div>
  <div class="mm-menu-item">
    <div class="mm-menu-item-top-row">
      <h4 class="mm-text-no-margin">PASSION FRUIT &amp; COCONUT DAIQUIRI</h4>
    </div>
    <p>
      Malibu, White Rum &amp; Passoa
    </p>
  </div>
  <div class="mm-menu-item">
    <div class="mm-menu-item-top-row">
      <h4 class="mm-text-no-margin"> THE BOTANIST</h4>
    </div>
    <p>
      Gin, Elderflower, Cucumber &amp; Basil
    </p>
  </div>
  <div class="mm-menu-item">
    <div class="mm-menu-item-top-row">
      <h4 class="mm-text-no-margin">RUM BANANA BLITZ</h4>
    </div>
    <p>
      Spiced Rum, Butterscotch Schnapps &amp; Banana 
    </p>
  </div>
  <div class="mm-menu-section-heading-container">
    <h4 class="centre">CLASSICS</h4>
  </div>
  <div class="mm-menu-item">
    <div class="mm-menu-item-top-row">
      <h4 class="mm-text-no-margin">LONG ISLAND ICED TEA</h4>
    </div>
    <p>
      Vodka, Rum, Gin, Tequila, Triple Sec, Lemon &amp; Cola
    </p>
  </div>
  <div class="mm-menu-item">
    <div class="mm-menu-item-top-row">
      <h4 class="mm-text-no-margin">ESPRESSO MARTINI</h4>
    </div>
    <p>
      Fresh Espresso, Vodka &amp; Kahlua
    </p>
  </div>
  <div class="mm-menu-item">
    <div class="mm-menu-item-top-row">
      <h4 class="mm-text-no-margin">MOJITO</h4>
    </div>
    <p>
      White Rum, Mint &amp; Soda  
    </p>
  </div>
  <div class="mm-menu-item">
    <div class="mm-menu-item-top-row">
      <h4 class="mm-text-no-margin">MARGARITA</h4>
    </div>
    <p>
      Tequila, Triple Sec &amp; Lime
    </p>
  </div>
  <div class="mm-menu-item">
    <div class="mm-menu-item-top-row">
      <h4 class="mm-text-no-margin">COSMOPOLITAN</h4>
    </div>
    <p>
      Vodka, Cranberry &amp; Triple Sec
    </p>
  </div>
</div>
