<div class="mm-menu-food-group" id="craft-beers-and-ciders">
  <div class="mm-menu-section-heading-container">
    <h3 class="mm-menu-section-heading">CRAFT BEERS AND CIDERS</h3>
    <h4 class="centre">DRAUGHT</h4>
    <ul>
      <li><span class="bold"> GOOSE IPA</span> - £4.95 </li>
      <li><span class="bold">HOP HOUSE 13</span> - £4.75</li>
      <li> <span class="bold">GUINNESS SURGER</span> - £3.95</li>
    </ul>
    <h4 class="centre">BOTTLES</h4>
    <ul>
      <li><span class="bold">SALITOS</span> £4.25 or buy 3 for £11 or 5 for £18 </li>
      <li><span class="bold">BROOKLYN LAGER</span> £4.35</li>
      <li><span class="bold">BREWDOG DEAD PONY CLUB</span> £4.35</li>
      <li> <span class="bold">CORONA</span> £3.75 </li>
      <li><span class="bold">PILSNER URQUELL</span> - £4.25</li>
      <li><span class="bold">CAPLE RD CIDER</span> - £3.95 </li>
      <li><span class="bold">KOPPARBERG STRAWBERRY &amp; LIME</span> - £4.25</li>
    </ul>
  </div>
</div>
