<div class="mm-menu-food-group" id="hot-drinks">
  <div class="mm-menu-section-heading-container">
    <h3 class="mm-menu-section-heading">HOT DRINKS</h3>
    <h4 class="centre">COFFEE <span class="mm-menu-section-price">£2.30</span></h4>
    <ul>
      <li><span class="bold">LATTE</span></li>
      <li><span class="bold">FLAT WHITE</span></li>
      <li><span class="bold">CAPPUCCINO</span></li>
      <li><span class="bold">AMERICANO</span></li>
      <li><span class="bold">MOCHA</span></li>
    </ul>
    <h4 class="centre">HOT CHOCOLATE</h3>
    <ul>
      <li><span class="bold">HOT CHOCOLATE</span> - £2.30</li>
      <li><span class="bold">MEXICAN HOT CHOCOLATE</span> - Authentic mexican hot chocolate with cinnamon. - £2.45 </li>
    </ul>
    <h4 class="centre">TEA</h3>
    <ul>
      <li><span class="bold">CHAMOMILE</span> - £1.75</li>
      <li><span class="bold">CLEAN MATCHA GREEN</span> - Pukka Organic matcha green tea with a lemony lift. - £1.75</li>
      <li><span class="bold">MATCHA GREEN</span> - £1.75</li>
      <li><span class="bold">ENGLISH TEA</span> - £1.50</li>
    </ul>
  </div>
</div>
