<div class="mm-menu-food-group" id="milkshakes">
  <div class="mm-menu-section-heading-container">
    <h3 class="mm-menu-section-heading">MADE TO ORDER MILKSHAKES <span class="mm-menu-section-price">£3.75</span></h3>
    <ul>
      <li><span class="bold">CHOCOLATE SALTED CARAMEL</span></li>
      <li><span class="bold">CHERRY BAKEWELL</span></li>
      <li><span class="bold">MUNCHMALLOW</span> - Malteser &amp; Marshmallow</li>
      <li><span class="bold">BEANUT PUTTER</span> - Banana &amp; Peanut Butter</li>
      <li><span class="bold">STRAWBERRIES</span> &amp; CREAM</li>
      <li><span class="bold">UFO</span> - Refreshers, flying saucers &amp; Popping Candy</li>
      <li><span class="bold">KINDER BUENO</span></li>
      <li><span class="bold">BANANA</span></li>
      <li><span class="bold">OREO</span></li>
      <li><span class="bold">COCOTELLA</span>  - Bounty &amp; Nutella</li>
    </ul>
  </div>
</div>
