<div class="mm-menu-food-group" id="soft-drinks">
  <div class="mm-menu-section-heading-container">
    <h3 class="mm-menu-section-heading">HOME ADE <span class="mm-menu-section-price">£3.25</span></h3>
    <p class="mm-menu-section-introduction">
      Our hand crafted soft drink cocktails made using fresh fruit and maple syrup finished with sparkling water.
    </p>
    <ul>
      <li><span class="bold">LEMON, LIME &amp; MAPLE</span></li>
      <li><span class="bold">RASPBERRY LEMONADE</span></li>
      <li><span class="bold">PINEAPPLE &amp; PASSIONFRUIT</span></li>
      <li><span class="bold">APPLE &amp; CRANBERRY</span></li>
    </ul>
    <h3 class="mm-menu-section-heading">SOFT DRINK BOTTLES</h3>
    <h4 class="centre">JARRITOS</h4>
    <p class="mm-menu-section-introduction">
      Made in mexico since 1950, Jarritos natural flavour sodas were handpicked by us for their awesome flavour and taste. 
    </p>
    <ul>
      <li><span class="bold">MEXICAN COLA £2.25</span></li>
      <li><span class="bold">GUAVA - £2.25</span></li>
      <li><span class="bold">MANGO - £2.25</span></li>
      <li><span class="bold">LIME - £2.25</span></li>
      <li><span class="bold">PINEAPPLE - £2.25</span> </li>
    </ul>
    <h4 class="centre">FROBISHERS <span class="mm-menu-section-price">£1.95</span></h4>
    <ul>
      <li><span class="bold">ORANGE JUICE</span></li>
      <li><span class="bold">APPLE JUICE</span></li>  
    </ul>
    <h4 class="centre">FEEL GOOD <span class="mm-menu-section-price">£1.95</span></h4>
    <ul>
      <li><span class="bold">ORANGE &amp; MANGO</span></li>
      <li><span class="bold">APPLE &amp; BLUEBERRY</span></li>
    </ul>
    <ul>
      <li><span class="bold">FEVERTREE TONIC WATER</span> - £1.50</li>
      <li><span class="bold">STRATHMORE SPRING WATER</span> - £1.50</li>
    </ul>
  </div>
</div>
