<div class="mm-menu-food-group" id="spirits-and-shots">
  <div class="mm-menu-section-heading-container">
    <h3 class="mm-menu-section-heading">SPIRITS</h3>
    <ul>
      <li><span class="bold">NEW AMSTERDAM VODKA</span> - £2.45</li>
      <li> <span class="bold">SIPSMITH VODKA</span> - £3.25 </li>
      <li><span class="bold">LARIOS GIN</span> - £2.45 </li>
      <li><span class="bold">BLOOM GIN</span> - £3.25 </li>
      <li><span class="bold">PAMPERO BLANCO RUM</span> - £2.75</li>
      <li><span class="bold"> AQUA RIVA TEQUILA</span> - £2.95</li>
       <li><span class="bold">BUFFALO TRACE KENTUCKY BOURBON</span> - £2.95</li>
       <li><span class="bold">MAKERS MARK BOURBON</span> - £3.25 </li>
      <li><span class="bold">DISARONNO</span> - £2.45</li>
      <li><span class="bold"> MALIBU</span> - £2.45</li>
    </ul>
    <p class="mm-menu-section-introduction">Add a mixer for £1.50 extra</p>
    <h4 class="centre">SHOTS <span class="mm-menu-section-price">£3.25</span></h4>
    <ul>
      <li><span class="bold">PICKLEBACK</span> - Bourbon followed by a shot of pickle juice </li>
      <li><span class="bold">TEQUILA</span> - With Salt &amp; Lemon</li>
    </ul>
  </div>
</div>
