<div class="mm-menu-food-group" id="wines">
  <div class="mm-menu-section-heading-container">
    <h3 class="mm-menu-section-heading">WINES</h3>
    <h4 class="centre">RED</h4>
    <ul>
      <li><span class="bold">MARQUES DE MORANO JOVEN RIOJA</span> £2.95 / £3.95 / £5.85/ £16.50</li>
      <li><span class="bold">TEKENA MERLOT</span> £2.55 / £3.45 / £4.95 / £14.50</li>
      <li><span class="bold">CULLINAN VIEW SHIRAZ</span> £2.35/ £3.25/ £4.75/ £13.95</li>
    </ul>
    <h4 class="centre">WHITE</h4>
    <ul>
      <li><span class="bold">TEKENA SAUVIGNON BLANC</span> £2.55 / £3.45 / £4.95 / £14.50</li>
      <li><span class="bold">ANTONIO RUBINI PINOT GRIGIO</span> £2.30 / £3.20 / £4.65 / £13.50</li>
    </ul>
    <h4 class="centre">ROSÉ</h4>
    <ul>
      <li><span class="bold">ANTONIO RUBINI PINOT GRIGIO ROSE</span> £2.30 / £3.20 / £4.65 / £13.50  </li>
    </ul>
    <h4 class="centre">SPARKLING</h4>
    <ul>
      <li><span class="bold">DA LUCA PROSECCO</span> 20cl - £4.95</li>
    </ul>
  </div>
</div>
