<div class="mm-menu-food-group">
  <div class="mm-menu-section-heading-container">
    <p class="mm-menu-section-introduction">
      Customers following a gluten free diet have plenty to choose from at Marvellous Munch. When ordering, <span class="bold">always</span> advise us if you have an intolerance to gluten so that we can be extra careful in the kitchen.
    </p>
  </div>
  <div class="mm-menu-item">
    <div class="mm-menu-item-top-row">
      <h4 class="mm-text-no-margin">BURGERS</h4>
    </div>
    <p>
      We'll happily serve any of our burgers on a fresh salad instead of in a bun for your gluten free option at no extra cost.
    </p>
  </div>
  <div class="mm-menu-item">
    <div class="mm-menu-item-top-row">
      <h4 class="mm-text-no-margin">NACHOS</h4>
    </div>
    <p>
      All nachos listed are gluten free.
    </p>
  </div>
  <div class="mm-menu-item">
    <div class="mm-menu-item-top-row">
      <h4 class="mm-text-no-margin">ENSALADAS</h4>
    </div>
    <p>
      All ensaladas listed are gluten free.
    </p>
  </div>
  <div class="mm-menu-item">
    <div class="mm-menu-item-top-row">
      <h4 class="mm-text-no-margin">TACOS</h4>
    </div>
    <p>
      All tacos listed are gluten free.
    </p>
  </div>
  <div class="mm-menu-item">
    <div class="mm-menu-item-top-row">
      <h4 class="mm-text-no-margin">TOSTADAS</h4>
    </div>
    <p>
      All tostadas listed are gluten free.
    </p>
  </div>
  <div class="mm-menu-item">
    <div class="mm-menu-item-top-row">
      <h4 class="mm-text-no-margin">SIDES</h4>
    </div>
    <p>
      Looking for gluten free sides? All of the
      <a href="#vegan" alt="Jump to Vegan Sides">
        <span class="mm-menu-inner-link">vegan sides</span>
      </a>
      are safe.
    </p>
  </div>
</div>
