$mm-colour-black: #302F2F;
$mm-colour-black-opaque: rgba(48, 47, 47, 0.7);
$mm-colour-green: #A2D766;
$mm-colour-white: #FFFFFF;
$mm-colour-white-opaque: rgba(255, 255, 255, 0.7);
$mm-colour-cream: #FFFEE7;
$mm-colour-red: #D0011B;
$mm-colour-blue: #41BBF3;
